*{
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}



body{
  padding: 20px;
}


.header{
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding: 10px;
  font-weight: 700;
}

.square{
  height: 100%;
  width: 100%;
}

.grid{
  display:flex;
  flex-direction: column;
  border-style: solid;
  border-radius: 1px;

  width: 400px;
  height: 400px;

}

.container-grid{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.row{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.container-mod-grid{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 105px;
  

}

.mod-grid-size{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.grid-size-input{
  padding: 5px;
  width: 100px;
}

.grid-size-button{
  padding: 5px;
  cursor: pointer;
  
}

.reset-buttons{
  display: flex;
  align-items: center;
  gap: 10px;
}

.reset-buttons button{
  padding: 5px 10px;
  cursor: pointer;
  
}

.container-colors{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  
  
}

.colors{
  width: 400px;
  height: 115px;
  display: flex;
  flex-direction: column;
  gap:5px;
  
 

}

.light-colors , .base-colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-button {
  width: 35px;
  height: 35px;
  border-style: none;
  cursor: pointer;
  
  box-shadow: 1px 1px 5px gainsboro;
  
}


.selected {
 border-style: solid;
 border-width: 3px;
 border-color: gainsboro;
}